/*
stylesheet

ratachée à OC001.html
*/

body /*on modifie le fond de la page ainsi que les textes*/
{
    background-color: black;
    background-image: url("images/galaxy.jpg");
    background-attachment: fixed; /*le fond restera fixe*/
    color: white;
    font-family : 'courier new', georgia, serif;
    text-align: justify;
}

h1, em /*cible les balises h1 et em*/
{
    color: palevioletred; /*couleur des balises ciblées*/
}

.introduction
{
    color: royalblue;
}

.salutations
{
    color: plum;
}

/*p , div
{
    font-size: 1.0em; /*on définit la taille du texte dans les balises <p> et on détermine les polices
    font-family: 'courier new', georgia, serif;
    text-align: justify;
}*/

@font-face { /*on ajoute une police au fichier CSS pour la donner à des balises*/
    font-family: 'cac_champagneregular'; /*nom de la police dans le fichier*/
    src: url('polices/cac_champagneregular/cac_champagne-webfont.woff'); /*on détermine la police de base puis les variantes*/
    src: url('polices/cac_champagneregular/cac_champagne-webfont.woff?#iefix') format('woff'),
         url('polices/cac_champagneregular/cac_champagne-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

h1
{
    font-family: 'cac_champagneregular', georgia, serif;
    font-size: 6.0em;
    text-decoration: underline;
    text-align: center;
    opacity: 0.7; /*h1 sera opaque à 70% */
}

h2
{
    font-style: oblique; /*détermine le style du texte : italique, normal,... */
    text-align: right;
    border: 3px navajowhite double;
    border-radius: 8px;
    box-shadow: -6px 6px 5px navajowhite; 
}

em
{
    font-style: normal;
    font-weight: bold;
}

.imageflottante /*référence à la class="imageflottante"*/
{
    float: right;
}

.dessous
{
    clear: both;
}

ul , ol /*ici les <ul> auront une bordure en pointillés de 4px couleur peru*/
{
    border: peru 4px dotted;
    text-shadow: 2px 2px 2px navajowhite;
}

/*p
{
    border-top: slateblue 3px dashed;
}*/

a
{
    text-decoration: none;
    font-family: georgia, serif;
    color: tomato;
}

a:hover
{
    text-decoration: underline;
    color: teal;
    font-weight: bold;
}

mark
{
    text-decoration: none;
    background: none;
    color: orange;
}

mark:hover
{
    text-decoration: line-through;
    font-size: 1.2em;
    font-weight: bold;
}